<div class="App">
  <fast-tree-view id="tree1">
    <fast-tree-item>
      Tree item 1
      <fast-tree-item slot="item">Tree item 1 - 1</fast-tree-item>
      <fast-tree-item slot="item">Tree item 1 - 2</fast-tree-item>
    </fast-tree-item>
    <fast-tree-item>Tree item 2</fast-tree-item>
  </fast-tree-view>

  <fast-tree-item id="tree-item1">
    Tree item 1
    <fast-tree-item slot="item">Branch 1</fast-tree-item>
    <fast-tree-item slot="item">Branch 2</fast-tree-item>
  </fast-tree-item>
</div>